body{
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display: flex;
}

section{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

section .left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
.heading{
    font-size: 150%;
    color: blue;
}
.container,.dropdown-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: blue;
}

#mySelect,#mySelect2{
    width: 100%;
    background-color: gray;
    color: black;
}

.add-button{
    background-color: blue;
    color: white;
}
section .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    padding: 1rem;
}
#logo{
    width: 4rem;
    height: 5rem;
}

.tile{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    border-radius: 10px;
}
.details{
    padding: 1rem;
}
.row1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.p1{
    background-color: pink;
    border-radius: 5px;
    padding: 1px 5px ;
}
.p2{
    background-color: grey;
    border-radius: 5px;
    padding: 1px 5px ;
}
.p3{
    background-color: grey;
    border-radius: 5px;
    padding: 1px 5px ;
}

.row2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.row3{
    display: flex;
    justify-content: start;
    padding-bottom: 1rem;
    gap: 1rem;
}

.row4{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    gap: 1rem;
}

.grey{
    color: grey;
}